:root{
    --purple:hsl(273, 75%, 66%);
    --blue:hsl(240, 73%, 65%);
    --tblue:hsl(238, 29%, 16%);
    --red:hsl(14, 88%, 65%);
    --soft-grey:hsl(240, 6%, 50%)
}
*{
    box-sizing: border-box;
}
body{
   background-image: linear-gradient(var(--purple),var(--blue));
   margin: 0;
   padding: 0;
   height: 100vh;
   font-family: 'kumbh',sans-serif;
}
.down{
    display: none;
    transform: rotate(180deg);
}
@media screen and (max-width:700px){
    main{
        width: 90%;
        background-color: white;
        margin: 100px auto;
        border-radius: 10px;
        padding: 0 10px;
        text-align: center;
        box-shadow: 0 0 10px 0 ;
    }
    .woman{
        width: 80%;
        height: 80%;
        margin-top: -40%;
    
    }
    .womandesktop{
        display: none;
    }
    .answer{
        display: none;
        padding:10px 0;
        color: var(--tblue);
    }
    .part{
        padding:10px 0;
        font-size: 14px;
        border-bottom: 2px solid hsl(240, 5%, 91%);
    }
    .last{
        padding-bottom: 10px;
    }
    span{
        cursor: pointer;
    }
    .question{
        cursor: pointer;
        color: var(--soft-grey);
    }
    .question:hover{
        color: var(--red);
    }
    /* #firstarr{
        transform: rotate(180deg);
    } */

}
@media screen and (min-width:701px) {
    main{
        width: 650px;;
        background-color: white;
        margin: 100px auto;
        display: flex;
        overflow: hidden;
        border-radius: 10px;
        justify-content: space-;
    }
    .woman{
       display: none;
       ;
    }
    .womandesktop{
        width:50%;
        height: 100%;
        margin-left: -80px;
        /* overflow: hidden; */
    }
    .text{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .part{
        padding: 10px;
    }
    .question{
        display: flex;
        justify-content: flex-start;
        padding: 5px 0;
        cursor: pointer;
        color:var(--soft-grey);
    }
    .question:hover{
        color: var(--red);
    }
    .answer{
        display: none;
    }

    
    
}

